.ubuntu-regular {
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Ubuntu", sans-serif;
}
:root {
    --main: rgb(30, 30, 240);
    --main-dark: rgb(0, 0, 172);
}
body{
    font-weight: 300;
    font-size: 1.05rem;
    line-height: 1.6;
}
.btn {
    outline: 0;
    cursor: pointer;
    font-size: 1.05rem;
}
.text{
    opacity: 0.8;
}
.title {
    font-size: 2rem;
    margin-bottom: 1rem;
}
.container{
    z-index: 1;
    min-height: 100vh;
}
.meal-wrapper{
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    background: white;
    text-align: center;
}
.meal-search{
    margin: 2rem 0;
}
.meal-search cite{
    font-size: 1rem;
}
.meal-search-box{
    margin: 1.2rem 0;
    display: flex;
    align-items: stretch;
}
.search-control,.search-btn {
    width: 100%;
}
.search-control{
    padding: 1.1rem;
    font-size: 1.1rem;
    outline: 0;
    border: 1px solid var(--main);
    color: var(--main);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}
.search-control::placeholder{
    color: var(--main);
    padding: 1.1rem;
}
.search-btn{
    width: 55px;
    height: 55px;
    font-size: 1.8rem;
    background: var(--main);
    color: white;
    border: none;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    transition: all 0,4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.search-btn:hover{
    background: var(--main-dark);
}
.meal-result{
    margin-top: 4rem;
}
#meal{
    margin: 2.4rem 0
}
.meal-item {
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 4px 21px -12px rgba(0,0,0,0.79);
    margin: 2rem 0;
}
.meal-img{
    width: auto;
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
}
.meal-img img {
    width: 100%;
    display: flex;
}
.meal-name {
    padding: 1.5rem 0.5rem;
}
.meal-name h3{
    font-size: 1.4rem;
}
.recipe-btn{
    text-decoration: none;
    color: white;
    background: var(--main);
    font-size: 18px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    display: flex;
    margin: 10px auto;
    width: 165px;
    height: 50px;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    transition: all 0,4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.recipe-btn:hover{
    background: var(--main-dark);
    opacity: .8;
}
.meal-details {
    z-index: 2;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    color: white;
    background: var(--main);
    border-radius: 1rem;
    -webkit-border-radius: 1rem;
    -moz-border-radius: 1rem;
    -ms-border-radius: 1rem;
    -o-border-radius: 1rem;
    width: 90%;
    height: 90%;
    overflow-y: scroll;
    padding: 2rem 0;
    display: none;
}
.meal-details::-webkit-scrollbar {
    width: 10px;
}
.meal-details::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
}
/* js part... */
.showRecipe {
    display: block;
}
.meal-details-content{
    margin: 2rem;
}
.meal-details-content p:not(.recipe-category) {
    padding: 1rem 0;
}
.recipe-close-btn {
    position: absolute;
    right: 2rem;
    top: 2rem;
    font-size: 1.8rem;
    background: white;
    border: none;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.9;
}
.recipe-title {
    letter-spacing: 1px;
    padding-bottom: 1rem;
}
.recipe-category {
    background: white;
    font-weight: 600;
    color: var(--main);
    display: inline-block;
    padding: .2rem .5rem;
    border-radius: 0.3rem;
    -webkit-border-radius: 0.3rem;
    -moz-border-radius: 0.3rem;
    -ms-border-radius: 0.3rem;
    -o-border-radius: 0.3rem;
}
.recipe-instruct {
    padding: 1rem 0;
    font-weight: 500;
}
.recipe-meal-img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 0 auto;
    display: block;
}
.recipe-link {
    margin: 1.4rem 0;
}
.recipe-link a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 700;
    transition: all 0,4s linear;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
}
.recipe-link a:hover{
    opacity: .8;
}
/*  */
.notfound {
    grid-template-columns: 1fr!important;
    color: var(--main);
    font-size: 1.8rem;
    font-weight: 600;
    width: 100%;
}

/* media queries -- responsiveness */
@media screen and (min-width:600px) {
    .meal-search-box{
        width: 540px;
        margin-left: auto;
        margin-right: auto;
    }
}
@media screen and (min-width:768px) {
    #meal{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .meal-item{
        margin: 0;
    }
    .meal-details {
        width: 700px;
    }
}
@media screen and (min-width:992px) {
    #meal{
        grid-template-columns: repeat(3, 1fr);
    }
}